<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">

<header>
    <% include header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Hola Silvia bonita =)</h1>
        <p>Bienvenida a Kaytoken Store, este es el comienzo de una idea, un sueño y ahora una realidad</p>
    </div>
</main>

<footer>
    <% include footer %>
</footer>

</body>
</html>